/* header */

header {
    height: 80px;
    background-color: blue;
}


header img {
    height: 60px;
    width: 60px;
}

.titolo-logo {
    
    font-size: 30px;
}

.col-9 form {
    margin-top: 20px;
}

.col-1 i {
    margin-right: 15px;
}

.fa-bell {
    padding-bottom: 2px;
}



.container-1{
  width: 100%;
  
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
}

.container-1 input#search{
  width: 100%;
  height: 40px;
  
  border: none;
  font-size: 10pt;
  float: left;
  color: #616161;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #E5E5E5;
}

.container-1 .icon{
  position: absolute;
  
  
  margin-left: 17px;
  
  z-index: 1;
  
  
}





/* ASIDE */

aside {
    width: 180px;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
    height: calc(100vh - 80px)
}

.btn-group-vertical {
    margin-top: 20px;
}

aside button.btn {
    display: flex;

    align-items: center;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 0;
    
}

button.btn i {
    margin-right: 20px;
}

.fa-chart-simple {
    margin-left: 4px;
}

.setting {
    margin-bottom: 20px;
}




/* MAIN  */

.principale {
    width: calc(100vw - 180px);
    background-color: aqua;
    height: calc(100vh - 80px);
}





/* DEBUG */

[class*="col-"] {
    min-height: 80px;
    background-color: pink;
    border: solid 2px white;
} 


