/* header */

header {
    height: 80px;
    
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    right: 0;
}


header img {
    height: 60px;
    width: 60px;
}

.titolo-logo {
    
    font-size: 30px;
}

.col-9 form {
    margin-top: 20px;
}

.col-1 i {
    margin-right: 15px;
}

.fa-bell {
    padding-bottom: 2px;
}



.container-1{
  width: 100%;
  
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
}

.container-1 input#search{
  width: 100%;
  height: 40px;
  
  border: none;
  font-size: 10pt;
  float: left;
  color: #616161;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #E5E5E5;
}

.container-1 .icon{
  position: absolute;
  
  
  margin-left: 17px;
  
  z-index: 1;
  
  
}





/* ASIDE */

aside {
    width: 180px;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
    height: calc(100vh - 80px);
    position: fixed;
    margin-top: 80px;
}

.btn-group-vertical {
    margin-top: 20px;
}

aside button.btn {
    display: flex;

    align-items: center;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 0;
    
}

button.btn i {
    margin-right: 20px;
}

.fa-chart-simple {
    margin-left: 4px;
}

.setting {
    margin-bottom: 20px;
}




/* MAIN  */

.principale {
    width: calc(100vw - 180px);
    background-color: #F8F9FA;
    height: calc(100vh - 80px);
    margin-top: 80px;
    margin-left: 180px;
    overflow-y: auto;
    overflow-x: hidden;
}


/* head-main */
.head-main {
    height: 110px;
    background-color: bisque;
}


.Title-sec {
    margin: 10px;
}


/* sezione principale */

.main-main .row-1 {
    
    height: calc(100vh - 190px);
    
    width: 65%;
    padding: 20px;
    
}

.main-main .row-2 {
    height: calc(100vh - 190px);
    
    width: 35%;
    padding: 20px;
    padding-left: 0;
    
}

table img {
    height: 20px;
}

.card {
    margin-bottom: 20px;
}


/* DEBUG */

/* [class*="col-"] {
    min-height: 80px;
    background-color: pink;
    border: solid 2px white;
}  */


